@model MerceariaAPI.Areas.Identity.Models.ApplicationUser

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Usuário</h2>

<form asp-action="Edit" method="post">
    <div>
        <label for="UserName">Nome de Usuário:</label>
        <input type="text" id="UserName" name="UserName" value="@Model.UserName" required />

        <label for="Email">Email:</label>
        <input type="email" id="Email" name="Email" value="@Model.Email" required />

        <label for="TypeUserId">Cargo:</label>
        <input type="number" id="TypeUserId" name="TypeUserId" value="@Model.TypeUserId" required />
    </div>
    <div>
        <button type="submit">Salvar</button>
    </div>
</form>

<a href="/User/List">Voltar para a Lista de Usuários</a>
