@model MerceariaAPI.Models.TipoProduto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url("https://citybreakinfo.com/pix/2018-07/1532261860269744-1.jpg");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #ede9e9; /* Texto branco */
        }

        .form-container {
            width: 300px;
            padding: 30px;
            background-color: rgba(0, 0, 0, 0.5); 
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgba(50, 49, 49, 0.1);
            backdrop-filter: blur(10px); 
            -webkit-backdrop-filter: blur(10px); 
            border: 1px solid rgba(255, 255, 255, 0.2); 
            margin-top: 200px;
            text-align: center;
            margin-left: 550px;
        }

        .form-group {
            margin-bottom: 20px;
            text-align: center;
        }

        button[type="submit"] {
            width: 40%;
            padding: 10px;
            font-size: 16px;
            background-color: #376c49;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        button[type="submit"]:hover {
            background-color: #94be86;
        }

        .form-control {
            width: calc(60% - 20px); 
            padding: 10px;
            font-size: 12px;
            border: 1px solid #ccc;
            border-radius: 3px;
            background-color: white; 
            color: #333; 
            -webkit-appearance: none; 
            -moz-appearance: none; 
            appearance: none;
            margin-bottom: 10px;
        }

        label {
            font-weight: bold;
            margin-bottom: 8px;
            display: block;
            color: #ede9e9;
        }

        a {
            display: block;
            text-align: center;
            color: #ede9e9;
            text-decoration: none;
            margin-top: 10px;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
}

<div class="form-container">
    <h3>Criar Novo Tipo de Produto</h3>
    <form asp-action="Create" method="post">
        <div class="form-group">
            <label for="Nome">Nome:</label>
            <input type="text" id="Nome" name="Nome" class="form-control" required />
        </div>
        <div class="form-group">
            <button type="submit">Salvar</button>
        </div>
    </form>
    <a href="/TipoProduto/List">Voltar para a Lista</a>
</div>
