@model IEnumerable<MerceariaAPI.Models.TipoProduto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lista de Tipos de Produto</h2>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Nome</td>
                <td>
                    <a href="/TipoProduto/Edit/@item.Id">Editar</a> |
                    <form asp-action="Delete" asp-route-id="@item.Id" method="delete" style="display:inline;">
                        <button type="submit">Deletar</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/TipoProduto/Create">Adicionar</a>
