@model MerceariaAPI.Areas.Identity.Models.TypeUser;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Editar Tipo de Cargo</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div>
        <label for="Nome">Cargo:</label>
        <input type="text" id="Nome" name="Nome" value="@Model.Nome" required />
    </div>
    <div>
        <button type="submit">Salvar</button>
    </div>
</form>

<a href="/TypeUser/List">Voltar</a>
